@{
    ViewBag.Title = "About";
}
<div class="ui container" >
    <div class="ui grid">
        <div class="sixteen wide tablet four wide computer centered column" style="padding-right:15px;background-color:white">
            <h4 class="header" style="font-family: 'font-family: 'Montserrat', sans-serif';letter-spacing: 2px;font-weight:bolder;padding: 0em 0.5em;margin-bottom:0px;color:#34495E">
               ABOUT
            </h4>
            <div class="small_main_menu" style="padding: 0em 0.5em;">
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="cetegory">
                    <i class="dropdown icon"></i>
                    <div class="default text">Cetegory</div>
                    <div class="menu">
                        <div class="item" data-value="1">ประวัติ</div>
                        <div class="item" data-value="2">ข้อมูลโรงงาน</div>
                        <div class="item" data-value="3">รางวัล/การันตี</div>
                        <div class="item" data-value="4">ขั้นตอนการทำงาน</div>
                        <div class="item" data-value="5">พื้นที่จัดแสดง</div>
                        <div class="item" data-value="6">ผู้จัดจำหน่าย</div>
                    </div>
                </div>
            </div>
            <div class="ui relaxed divided selection large list normal_main_menu" style="font-family: 'Montserrat', sans-serif;letter-spacing: 1px;">
                <div class="item" style="border:none">
                    <div class="content">
                        <a class="header" style="font-weight: lighter;">
                            <span class="category_color">ประวัติ</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" style="font-weight: lighter;">
                            <span class="category_color">ข้อมูลโรงงาน</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" style="font-weight: lighter;">
                            <span class="category_color">รางวัล/การันตี</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" style="font-weight: lighter;">
                            <span class="category_color">ขั้นตอนการทำงาน</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" style="font-weight: lighter;">
                            <span class="category_color">พื้นที่จัดแสดง</span>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" style="font-weight: lighter;">
                            <span class="category_color">ผู้จัดจำหน่าย</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="twelve wide column centered row" style="padding-top:0px;padding-bottom:0px">
            <div class="ui column centered grid" style="background-color: white;padding-bottom:50px">
                <div class="column">
                    <p><span class="firstcharacter">K</span>asalong Ceramics was established as a family business in 1970 by the team of husband and  wife using traditional pottery knowledge; they oversee all functions of  Kasalong (then; Chou Lampang Co., Ltd.) In 1980 sons and daughters of  the founder entered the management of the company with the modern manufacturing knowledges, with the third generation entering the company's  managerial from 2004, Kasalong continues to offer new innovations in ceramics production to the world market </p>
                    <p>
                        Since the founding of the  company, Kasalong had kept the promise of producing high quality ceramics at affordable price for domestic consumer in Thailand; that  promise had been kept ever since. 1985 sees our first exportation to the Americas and Europe and followed by the rest of the world.
                    </p>
                    <p>
                        Our company is situated  in Lampang, which is one of the best clay deposit regions in Thailand.  Today; our company is one of the best known in stoneware productions,  with production capacity of over four million pieces a month and a thousand of our "Team Kasalong" members who dedicated tremendously  to our community and environmental friendly objectives. Kasalong as an extended  family, we are proud to be a community in community, it means that we are doing everything to keep firm the Thai traditional way of life, creating jobs; so newly graduates doesn't need to move away from their family to bigger cities.
                    </p>
                    <p>
                        In Kasalong, you will find our members are  often related by kin, we employed almost the whole sub district of Wangpraow Kho Kha,  Lampang. For this reason, we continuously think about improving our  family living standards, and we placed environmental impact as our primary concern due to the fact that we are also a part of this extended family.
                    </p>
                    <p>
                        Our research and development teams work tirelessly with the high tech equipments  and extensive knowledge and experience in both traditional fine arts and modern designing theories. These infusions of ideas result in an  integrated designing system that harmonized eastern and western trends together to create our world class products. Since 2010 we had been working with state-of-the-art isostatic and robotics technologies to improve our production timelines and maintain the highest production quality in a timely manners.
                    </p>
                    <p>
                        Today, Kasalong supply  products to every part of the world, we extended our quality assurance to all clients as a way to guarantee our products. We offers our service through  our agents in EU, and The Americas.  We are proud to present our company as a source of supplier and manufacturer of fine stoneware to you; with promises of high quality product at affordable price. We are continuously developing and researching as our way of life for a better and higher quality of this time honored  tradition of pottery making.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>