@{
    ViewBag.Title = "Contact";
}
<div class="ui container" style="margin-top: 25px;">
    <div class="ui grid" style="background-color:#efefef;padding-bottom:50px">

        <div class="sixteen wide tablet ten wide computer column">
            <div class="ui very padded  segment" style="background-color:#FCFCFC">
                <div class="ui centered grid">
                    <div class="ui blue big label" style="font-family: 'Abel', sans-serif;letter-spacing: 2px;background-color:rgba(45,69,113,.8)!important">
                        ADDRESS
                    </div>
               
                <div class="ui list">
                    <br />
                    <div class="item">

                        <i class="marker icon" style="color:rgba(45,69,113,.8)!important;"></i>
                        <div class="content" style="color:rgba(45,69,113,.8)!important;">
                            Kasalong Ceramics Co.,Ltd.
                            <br />142 Moo 4, Wangpraow,
                            <br /> Kokha, Lampang 52130 THAILAND
                        </div>
                    </div>
                </div>

                <br />
                <div class="">
                    <a href="https://goo.gl/maps/KKDCfoCCHsK2"> <img class="ui  centered image" src="~/Content/Pic/glass_set.png" /> </a>
                </div>
            </div>
        </div>

        <div class="sixteen wide tablet six wide computer column">
            <div class="ui very padded inverted  segment" style="background-image:url(../../Content/Pic/bg.jpg);background-size: cover;background-repeat:no-repeat;background-position:center;background-attachment:fixed;box-shadow: inset 0 0 0 1000px rgba(45,69,113,.8);height:100%;">
                <div class="ui centered grid">
                    <div class="ui big label" style="font-family: 'Abel', sans-serif;letter-spacing: 2px;background-color:white">
                        CONTACT PERSON
                    </div>

                </div>
                <div class="ui list">
                    <br /><br />
                    <div class="item">
                        <i class="mail icon"></i>
                        <div class="content">
                            Mr.Niphon Chaokittisophon (Marketing Director)
                            <br />  <a style="color:white" href="mailto:jack@semantic-ui.com">jack@semantic-ui.com</a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="item">
                        <i class="mail icon"></i>
                        <div class="content">
                            Ms.Praewpan Anekkamol (Marketing)
                            <br />  <a style="color:white" href="mailto:jack@semantic-ui.com">praewpa@kasalong.net</a>
                            <br />  <a style="color:white" href="mailto:jack@semantic-ui.com">marketing@kasalong.net</a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="item">
                        <i class="mobile icon"></i>
                        <div class="content">
                            <a style="color:white">+66 281443</a>
                            <br /><a style="color:white">+ 66 54 349010-11 ext.15</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>