@{
    ViewBag.Title = "Home Page";
}

<!-- Page Contents -->

<div class="ui container" style="margin-top: 25px;">
    <div class="ui computer reversed grid">
        <div class="sixteen wide tablet twelve wide computer column" style="background-color:#efefef ;padding-bottom:50px">
            <div class="ui raised segment">
                <div class="showroom" style="padding-left: 15px;padding-right: 15px;margin-top:25px">
                    <div class="contain-showroom"><img class="ui fluid image" src="http://www.cotto.com/common/img/003/banner-home.jpg"></div>
                    <div class="contain-showroom"><img class="ui fluid image" src="http://www.cotto.com/common/img/003/banner-home-3.jpg"></div>
                    <div class="contain-showroom"><img class="ui fluid image" src="http://www.cotto.com/common/img/003/banner-home-8.jpg"></div>
                </div>
                </div>
                <br />
                <div class="ui horizontal divider">
                    <h4 style="font-family: 'Abel', sans-serif;letter-spacing: 2px;">OUR PRODUCT</h4>
                </div>
                <br /><br />
                <div class="ui three doubling link cards">
                    <div class="card my_card">
                        <div class="image" style="background-color:transparent!important">
                            <img class="product_pic" src="~/Content/Pic/glass_1.png">
                        </div>
                        <div class="content mycard_content" style="text-align:center;font-weight:bolder;">
                            <span> Set name</span>
                        </div>
                        <div class="description mycard_content" style="padding-bottom:1em">
                            <span>peoduct detail</span>
                        </div>
                    </div>
                    <div class="card my_card">
                        <div class="image " style="background-color:transparent!important">
                            <img class="product_pic" src="~/Content/Pic/glass_2.png">
                        </div>
                        <div class="content mycard_content" style="text-align:center;font-weight:bolder;">
                            <span> Set name</span>
                        </div>
                        <div class="description mycard_content" style="padding-bottom:1em">
                            <span>peoduct detail</span>
                        </div>
                    </div>
                    <div class="card my_card">
                        <div class="image" style="background-color:transparent!important">
                            <img class="product_pic" src="~/Content/Pic/glass_3.png">
                        </div>
                        <div class="content mycard_content" style="text-align:center;font-weight:bolder">
                            <span> Set name</span>
                        </div>
                        <div class="description mycard_content" style="padding-bottom:1em">
                            <span>peoduct detail</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sixteen wide tablet four wide computer column" style="background-color: #FCFCFC">
      
                    <div class="ui horizontal divider">
                        <h3 class="header" style="    font-family: 'Abel', sans-serif;letter-spacing: 2px;font-weight:bolder;padding: 0em 0.5em;margin-bottom:0px;color:#34495E">
                            LATEST NEWS
                        </h3>
                    </div>
                    <div class="ui relaxed divided list" style="padding: 0em 0.5em;">
                        <div class="item">
                            <div class="content">
                                <a href="/home/newsdetail" class="h3" style="font-weight:bolder;color:#202121; margin-bottom: 0px;">
                                    News topic number 1 which the topic might be very very long
                                </a>
                                <div class="meta">
                                    <span class="price">May 16,2017</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <a class="h3" style="font-weight:bolder;color:#202121; margin-bottom: 0px;">
                                    News topic number 2 which the topic might be very very short ??
                                </a>
                                <div class="meta">
                                    <span class="price">May 16,2017</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <a href="/home/newsdetail" class="h3" style="font-weight:bolder;color:#202121; margin-bottom: 0px;">
                                    News topic number 3 which the topic might be very very ... umu
                                </a>
                                <div class="meta">
                                    <span class="price">May 16,2017</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <a class="h3" style="font-weight:bolder;color:#202121; margin-bottom: 0px;">
                                    News topic number 4 , that's all
                                </a>
                                <div class="meta">
                                    <span class="price">May 16,2017</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <a class="h3" style="font-weight:bolder;color:#202121; margin-bottom: 0px;">
                                    News topic number 5, the last one
                                </a>
                                <div class="meta">
                                    <span class="price">May 16,2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
              
            </div>
        </div>
</div>



