
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ui container" style="margin-top: 25px;">
    <div class="ui grid" style="background-color:white;padding-bottom:50px;padding-top: 25px">
        <div class="sixteen wide column">
            <h3 class="ui header">Topic which might be very very long :)</h3>
            <div class="ui clearing divider" style="margin-bottom:0px"></div>
           <span>Date : xx-xx-xxx ;</span> 
        </div>
    </div>
</div>