
@{
    ViewBag.Title = "ProductNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ui container" style="margin-top: 25px;">
    <div class="ui grid" style="background-color:white;padding-bottom:50px">
        <div class="sixteen wide tablet four wide computer centered column" style="padding-right:15px">
            <h3 class="header" style="font-family: 'font-family: 'Montserrat', sans-serif';letter-spacing: 2px;font-weight:bolder;padding: 0em 0.5em;margin-bottom:0px;color:#34495E">
                News
            </h3>
        </div>
        <div class="twelve wide column row" style="padding-left:25px;padding-right:25px">
            <br />
            <div class="ui divided items" style="width:100%">
                <div class="item">
                    <div class="content">
                        <a class="header">12 Years a Slave</a>
                        <div class="meta">
                            <span class="cinema">Date : xx-xx-xx</span>
                        </div>
                        <div class="description">
                            <p>Some detail over here</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">12 Years a Slave</a>
                        <div class="meta">
                            <span class="cinema">Date : xx-xx-xx</span>
                        </div>
                        <div class="description">
                            <p>Some detail over here</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

