
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui container" >
    <div  class="ui basic segment" style="background: rgba(0, 0, 0, 0.05) !important;font-family: 'Abel', sans-serif;letter-spacing: 2px;">
        <div class="ui large breadcrumb">
            <a class="section">HOME</a>
            <i class="right angle icon divider"></i>
            <a class="section">ALL PRODUCT</a>
            <i class="right angle icon divider"></i>
            <a class="section">PRODUCT SET NAME</a>
            <i class="right angle icon divider"></i>
            <div class="active section">PRODUCT NAME</div>
        </div>
    </div>
    <br />
    <div class="ui grid" style="background-color:white;padding-bottom:50px">
        <div class="sixteen wide tablet six wide computer centered column" style="padding-right:15px">
            <div class="ui horizontal divider">
                <h4 style="font-family: 'Abel', sans-serif;letter-spacing: 2px;">Product name</h4>
            </div>
            <div class="slider-for">
                <div class="card my_card" style="text-align:center">
                    <div class="ui centered img image" style="background-color:transparent!important">
                        <img class="product_pic" style="height:100%!important" src="~/Content/Pic/glass_1.png">
                    </div>
                </div>
                <div class="card my_card" style="text-align:center">
                    <div class="ui centered img image" style="background-color:transparent!important">
                        <img class="product_pic" style="height:100%!important" src="~/Content/Pic/glass_2.png">
                    </div>
                </div>
                <div class="card my_card" style="text-align:center">
                    <div class="ui centered img image" style="background-color:transparent!important">
                        <img class="product_pic" style="height:100%!important" src="~/Content/Pic/glass_3.png">
                    </div>
                </div>
                <div class="card my_card" style="text-align:center">
                    <div class="ui centered img image" style="background-color:transparent!important">
                        <img class="product_pic" style="height:100%!important" src="~/Content/Pic/glass_4.png">
                    </div>
                </div>
                <div class="card my_card" style="text-align:center">
                    <div class="ui centered img image" style="background-color:transparent!important">
                        <img class="product_pic" style="height:100%!important" src="~/Content/Pic/glass_1.png">
                    </div>
                </div>
                <div class="card my_card" style="text-align:center">
                    <div class="ui centered img image" style="background-color:transparent!important">
                        <img class="product_pic" style="height:100%!important" src="~/Content/Pic/glass_2.png">
                    </div>
                </div>
                <div class="card my_card" style="text-align:center">
                    <div class="ui centered img image" style="background-color:transparent!important">
                        <img class="product_pic" style="height:100%!important" src="~/Content/Pic/glass_3.png">
                    </div>
                </div>
                <div class="card my_card" style="text-align:center">
                    <div class="ui centered img image" style="background-color:transparent!important">
                        <img class="product_pic" style="height:100%!important" src="~/Content/Pic/glass_4.png">
                    </div>
                </div>
            </div>


            <div class="slider-nav">
                <div class="ui active fade reveal image">
                    <img class="visible content" style="background: rgba(0, 0, 0, 0.05) !important;" />
                    <img class="hidden content product_pic" style="height: auto !important;" src="~/Content/Pic/glass_1.png">
                </div>
                <div class="ui fade reveal image">
                    <img class="visible content" style="background: rgba(0, 0, 0, 0.05) !important;" />
                    <img class="hidden content product_pic" style="height: auto !important;" src="~/Content/Pic/glass_2.png">
                </div>
                <div class="ui fade reveal image">
                    <img class="visible content" style="background: rgba(0, 0, 0, 0.05) !important;" />
                    <img class="hidden content product_pic" style="height: auto !important;" src="~/Content/Pic/glass_3.png">
                </div>
                <div class="ui fade reveal image">
                    <img class="visible content" style="background: rgba(0, 0, 0, 0.05) !important;" />
                    <img class="hidden content product_pic" style="height: auto !important;" src="~/Content/Pic/glass_4.png">
                </div>
                <div class="ui active fade reveal image">
                    <img class="visible content" style="background: rgba(0, 0, 0, 0.05) !important;" />
                    <img class="hidden content product_pic" style="height: auto !important;" src="~/Content/Pic/glass_1.png">
                </div>
                <div class="ui fade reveal image">
                    <img class="visible content" style="background: rgba(0, 0, 0, 0.05) !important;" />
                    <img class="hidden content product_pic" style="height: auto !important;" src="~/Content/Pic/glass_2.png">
                </div>
                <div class="ui fade reveal image">
                    <img class="visible content" style="background: rgba(0, 0, 0, 0.05) !important;" />
                    <img class="hidden content product_pic" style="height: auto !important;" src="~/Content/Pic/glass_3.png">

                </div>
                <div class="ui fade reveal image">
                    <img class="visible content" style="background: rgba(0, 0, 0, 0.05) !important;" />
                    <img class="hidden content product_pic" style="height: auto !important;" src="~/Content/Pic/glass_4.png">
                </div>
            </div>
        </div>
        <div class="sixteen wide tablet ten wide computer centered column">
            <br /><br />
            Some detail here

        </div>
    </div>
</div>

