
@{
    ViewBag.Title = "ProductSetDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ui container" style="margin-top: 25px;">
    <div class="ui basic segment" style="background: rgba(0, 0, 0, 0.05) !important;font-family: 'Abel', sans-serif;letter-spacing: 2px;">
        <div class="ui large breadcrumb">
            <a class="section">HOME</a>
            <i class="right angle icon divider"></i>
            <a class="section">ALL PRODUCT</a>
            <i class="right angle icon divider"></i>
            <a class="section">GLASS</a>
            <i class="right angle icon divider"></i>
            <a class="active section">Glass set 1</a>

        </div>
    </div>
    <br class="normal_main_menu" />

    <div class="ui grid" style="background-color: white;padding-bottom:50px;margin-top: 25px;">
        <div class="sixteen wide tablet five wide computer centered column">
            <div class="ui centered cards">
                <div class="card my_card">
                    <div class="image">
                        <img class="ui fluid img" style="width:100%!important" src="~/Content/Pic/glass_set.png">
                    </div>
                    <div class="content content_extra" style="text-align:left;font-weight:bolder;background-color:white !important">
                        <br />
                    </div>
                    <div class="content content_extra" style="text-align:left;font-weight:bolder;background-color:white !important">
                        Set : Every body love glass !
                    </div>
                    <div class="content content_extra" style="text-align:left;font-weight:bolder;background-color:white !important">
                        Detail : We offer cute lovely glass for you
                    </div>
                    <div class="content content_extra" style="text-align:left;font-weight:bolder;background-color:white !important">
                        Shape : spin shape
                    </div>
                    <div class="content content_extra" style="text-align:left;font-weight:bolder;background-color:white !important">
                        Sub type : Undefind
                    </div>
                </div>
            </div>
        </div>
        <div class="sixteen wide tablet eleven wide computer centered column">

            <div class="ui horizontal divider">
                <h4 style="font-family: 'Abel', sans-serif;letter-spacing: 2px;">Glass set 1</h4>
            </div>
            <br /><br />
            <div class="ui three stackable link cards">
                <div class="card my_card">
                    <div class="image" style="background-color:transparent!important">
                        <img class="product_pic" src="~/Content/Pic/glass_1.png">
                    </div>
                    <div class="content mycard_content" style="text-align:center;font-weight:bolder;">
                        <span> Product name</span>
                    </div>
                    <div class="description mycard_content" style="padding-bottom:1em">
                        <span>peoduct detail</span>
                    </div>
                </div>
                <div class="card my_card">
                    <div class="image " style="background-color:transparent!important">
                        <img class="product_pic" src="~/Content/Pic/glass_2.png">
                    </div>
                    <div class="content mycard_content" style="text-align:center;font-weight:bolder;">
                        <span> Product name</span>
                    </div>
                    <div class="description mycard_content" style="padding-bottom:1em">
                        <span>peoduct detail</span>
                    </div>
                </div>
                <div class="card my_card">
                    <div class="image" style="background-color:transparent!important">
                        <img class="product_pic" src="~/Content/Pic/glass_3.png">
                    </div>
                    <div class="content mycard_content" style="text-align:center;font-weight:bolder">
                        <span> Product name</span>
                    </div>
                    <div class="description mycard_content" style="padding-bottom:1em">
                        <span>peoduct detail</span>
                    </div>
                </div>
                <div class="card my_card">

                    <div class="image" style="background-color:transparent!important">
                        <img class="product_pic" src="~/Content/Pic/glass_4.png">
                    </div>
                    <div class="content mycard_content" style="text-align:center;font-weight:bolder">
                        <span> Product name</span>
                    </div>
                    <div class="description mycard_content " style="padding-bottom:1em">
                        <span>peoduct detail</span>
                        <br />
                    </div>
                </div>
                <div class="card my_card">

                    <div class="image" style="background-color:transparent!important">
                        <img class="product_pic" src="~/Content/Pic/glass_5.png">
                    </div>
                    <div class="content mycard_content" style="text-align:center;font-weight:bolder">
                        <span> Product name</span>
                    </div>
                    <div class="description mycard_content" style="padding-bottom:1em">
                        <span>peoduct detail</span>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

